* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

form {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    display: grid;
    place-items: center;
    font-family: sans-serif;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #42e6f5;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}